* {
    color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:focus-visible {
    outline: none;
}

.wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: columnc;
}

.container {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}